.Form-Pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Establecer la imagen de fondo */
    background-image: url('https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/others_3/SI_Pokemon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
        /* Ajustar otros estilos según sea necesario */
        /* Por ejemplo, padding, margen, tamaño de fuente, etc. */
}
      
    .Form-Pokemon label,
    .Form-Pokemon input,
    .Form-Pokemon select,
    .Form-Pokemon button {
        /* Establecer un fondo transparente para los elementos dentro del formulario */
        background-color: transparent;
        /* Ajustar otros estilos para los elementos del formulario */
        /* Por ejemplo, color de texto, tamaño de fuente, borde, etc. */
}

.Errors-p{
    color: red;
}

.Button-Create{
    height: 30px;
    width: 60px;
    font-size: 16px;
}
::placeholder{
    color: rgb(121, 114, 114);
}